---
import { Github } from 'lucide-react';
const today = new Date();
---

<footer class="px-4 py-8 pb-24 text-center text-slate-500 bg-slate-50 dark:bg-slate-900 dark:text-slate-400">
	&copy; {today.getFullYear()} YuSong Hsu. All rights reserved.
	<div class="flex justify-center gap-4 mt-4">
		<a href="https://github.com/sky172839465" target="_blank" class="no-underline text-slate-500 hover:text-slate-700 dark:hover:text-slate-300">
			<span class="sr-only">Go to YuSong's GitHub repo</span>
			<Github size={32} />
		</a>
	</div>
</footer>
