---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { ModeToggle } from './ModeToggle';
import { Github } from 'lucide-react';
---

<header class="m-0 px-4 bg-white dark:bg-slate-900 shadow-md">
	<nav class="flex items-center justify-between">
		<h2 class="m-0 text-base">
			<a href="/" class="no-underline flex items-center gap-2">
				<img src="/favicon.svg" alt="Logo" width="32" height="32" /> {SITE_TITLE}
			</a>
		</h2>
		<div class="flex">
			<HeaderLink href="/" class="py-4 px-2 text-black dark:text-white no-underline border-b-4 border-transparent [&.active]:border-blue-600">Home</HeaderLink>
			<HeaderLink href="/blog" class="py-4 px-2 text-black dark:text-white no-underline border-b-4 border-transparent [&.active]:border-blue-600">Blog</HeaderLink>
			<HeaderLink href="/about" class="py-4 px-2 text-black dark:text-white no-underline border-b-4 border-transparent [&.active]:border-blue-600">About</HeaderLink>
		</div>
		<div class="hidden sm:flex items-center gap-4">
			<a href="https://github.com/sky172839465" target="_blank" class="flex text-black dark:text-white">
				<span class="sr-only">Go to YuSong's GitHub repo</span>
				<Github size={32} />
			</a>
			<ModeToggle client:load />
		</div>
	</nav>
</header>
